html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

body {
    box-sizing: border-box;
    color: #fff;
    font-size: 80%;
    padding: 1em;
    height: 100vh;
    display: flex; /*1st THING TO ADD MAKE THE BODY FLEX*/
    flex-direction: column; /*2nd  TO MAKE THEM STACK VERTICALLY*/
}

main {
    height: 100%;
    display: flex; /*3rd to make this flex*/
}

article {
    background-color: #675BA7;
    flex: 2 2 12em; /*4th flex-grow: 2; flex-shrink: 2; flex-basis: 12em;*/
    order: -1; /*7th optional if we want to flop the sidebars to move them both at the right*/
}

nav,
aside {
    flex: 1; /*5th to make this flex as well*/
}

/*6th ADD SOME RESPONSIVE WHEN SCREEN LOWER*/
@media screen and (max-width: 500px) {
    
    main {
        flex-direction: column;
    }
    
}

h1 {
    font-size: 1.2em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

header,
footer,
nav,
article,
aside {
    box-sizing: border-box;
	padding: 1em;
    text-align: center;
}

header,
footer {
    height: 3.3em;
}

header {
    background-color: #A62E5C;
}

nav {
    background-color: #9BC850;
}

aside {
    background-color: #2A9FBC;
}

footer {
    background-color: #F15B2A;
}